.colorized-text-node {
    display: inline;
}

.color-0 {
    background-color: #FC766A
}

.color-1 {
    background-color: #42EADD
}

.color-2 {
    background-color: #00A4CC
}

.color-3 {
    background-color: #F95700
}

.color-4 {
    background-color: #a8cbe2
}

.color-5 {
    background-color: #ADEFD1
}

.color-6 {
    background-color: #5c07a1
}

.color-7 {
    background-color: #D6ED17
}

.color-8 {
    background-color: #b2b6c2
}

.color-9 {
    background-color: #ED2B33
}

.color-10 {
    background-color: #D85A7F
}

.color-11 {
    background-color: #97BC62
}

.color-12 {
    background-color: #EEA47F
}

.color-13 {
    background-color: #9CC3D5
}

.color-14 {
    background-color: #D198C5
}

.color-15 {
    background-color: #E0C568
}

.color-16 {
    background-color: #CBCE91
}

.color-17 {
    background-color: #D4B996
}

.color-18 {
    background-color: #0ede5b
}

.color-19 {
    background-color: #2BAE66
}

.color-20 {
    background-color: #8d4471
}

.color-21 {
    background-color: #e542e0
}

.color-22 {
    background-color: #6bec96
}

.color-23 {
    background-color: #40f9c9
}

.color-24 {
    background-color: #d442fb
}

.color-25 {
    background-color: #b604a9
}

.color-26 {
    background-color: #f40927
}

.color-27 {
    background-color: #68c4ee
}

.color-28 {
    background-color: #c96d19
}

.color-29 {
    background-color: #d2e3ff
}

/* .color-0 {
    background-color: #75ccad
}

.color-1 {
    background-color: #be2d0e
}

.color-2 {
    background-color: #fca40d
}

.color-3 {
    background-color: #e4091c
}

.color-4 {
    background-color: #a8cbe2
}

.color-5 {
    background-color: #b73030
}

.color-6 {
    background-color: #5c07a1
}

.color-7 {
    background-color: #efa04f
}

.color-8 {
    background-color: #b2b6c2
}

.color-9 {
    background-color: #1657ee
}

.color-10 {
    background-color: #c7bb33
}

.color-11 {
    background-color: #9affa7
}

.color-12 {
    background-color: #0bcde6
}

.color-13 {
    background-color: #e32ed3
}

.color-14 {
    background-color: #1483e5
}

.color-15 {
    background-color: #3fee39
}

.color-16 {
    background-color: #69d84e
}

.color-17 {
    background-color: #03d6af
}

.color-18 {
    background-color: #0ede5b
}

.color-19 {
    background-color: #5d5fa7
}

.color-20 {
    background-color: #8d4471
}

.color-21 {
    background-color: #e542e0
}

.color-22 {
    background-color: #6bec96
}

.color-23 {
    background-color: #40f9c9
}

.color-24 {
    background-color: #d442fb
}

.color-25 {
    background-color: #b604a9
}

.color-26 {
    background-color: #f40927
}

.color-27 {
    background-color: #68c4ee
}

.color-28 {
    background-color: #c96d19
}

.color-29 {
    background-color: #d2e3ff
} */