<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Academic Writing Analysis Application</title>
    <link href="../static/css/design.css" th:href="@{css/design.css}" rel="stylesheet">
    <script src="../static/scripts/main.js" th:src="@{scripts/main.js}"></script>
    <script src="../static/scripts/corpora.js" th:src="@{scripts/corpora.js}"></script>
</head>
<body>
    <div class="article-container">
        <header th:replace="header :: header">Навигационная панель</header>
        <article>
            <div id="corpus-container">
                <details open>
                    <summary>Выбрать корпус</summary>
                    <div class="left">
                        <p>Для начала необходимо выбрать корпус, с которым далее предстоит работать.
                            В случае, если Вы не обнаружили подходящий по тематике корпус,
                            Вы можете создать новый и загрузить документы туда.
                        </p>
                        <p>Здесь будет поиск</p>
                    </div>
                    <table>
                        <colgroup>
                            <col span="1" style="width: 40%;">
                            <col span="1" style="width: 20%;">
                            <col span="1" style="width: 20%;">
                            <col span="1" style="width: 10%;">
                        </colgroup>
                        <tbody>
                            <th>Название</th>
                            <th>Автор</th>
                            <th>Дата создания</th>
                            <th>Действия</th>
                            <tr th:each="corpus : ${corpora}">
                                <td class="content"><a th:href="@{documents(id=${corpus.id})}" th:text="${corpus.name}">Тестовое название</a></td>
                                <td class="content">Здесь будет автор</td>
                                <td class="center content">А сюда впишем дату</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4">1</td>
                            </tr>
                        </tbody>
                    </table>
                </details>
                <details>
                    <summary>Выбрать документ</summary>
                </details>
                <details>
                    <summary>Перейти к разметке текста</summary>
                </details>
            </div>
        </article>
    </div>

    <!-- New Corpus modal window -->
    <div id="corpus-modal" class="modal" hidden>
        <div class="modal-content">
            <span class="close" id="corpus-modal-close">&times;</span>
            <h2>Corpus:</h2>
            <form>
                <p><label>Name: <input id='corpus-name' name="name"></label></p>
                <p><div class='autosized dotted-border pointer submit' onclick="corporaView.createCorpus()">Save changes</div></p>
            </form>
        </div>
    </div>

    <div hidden>
        <!-- Corpus item template -->
        <div id="corpus-template">
            <a class="clickable content item pointer"></a><span class="item pointer deleter">&times;</span>
        </div>
    </div>
    <script>
        const corporaView = new CorporaView();
    </script>
</body>
</html>