<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Academic Writing Analysis Application</title>
    <link href="../static/css/design.css" th:href="@{css/design.css}" rel="stylesheet">
    <link href="../static/css/authorization.css" th:href="@{css/design.css}" rel="stylesheet">
</head>
<body>
    <header th:fragment="header">
        <nav>
            <a href="index"><img id="logo" src="../static/images/open-book-x.svg" th:src="@{images/open-book-x.svg}"></a>
            <span class="gradient nav-item"><a href="index">Главная</a></span>
            <span class="nav-item"><a href="corpora">Корпуса</a></span>
            <span class="nav-item"><a href="help">Справка</a></span>
            <span th:replace="this :: .authorize"></span>
        </nav>
    </header>
    <span class="authorize">
        <span sec:authorize="${not isAuthenticated()}" class="login-button auth-button"><a class="stylized" th:href="@{/login}">Войти</a></span>
        <span sec:authorize="${not isAuthenticated()}" class="register-button auth-button"><a class="stylized" th:href="@{/register}">Зарегистрироваться</a></span>
        <span sec:authorize="${isAuthenticated()}" class="name-panel">
            <a class="stylized" th:href="@{/profile}" th:text="${#httpServletRequest.remoteUser}">
                Имя пользователя
            </a>
        </span>
        <span sec:authorize="${isAuthenticated()}" class="logout-button auth-button"><a class="stylized" th:href="@{/logout}">Выйти</a></span>
    </span>
    <div th:fragment="auth-box(boxId, isRegistration, action, headerText)" id="${boxId}" class="padded" >
        <div th:if="${param.error}">
            Неверные имя пользователя или пароль.
        </div>
        <div th:if="${param.logout}">
            Вы вышли из системы
        </div>
        <form id="user-form" th:action="${action}" method="POST" th:object="${userDto}">
            <div id="auth-form-container">
                <h1 id="header" th:text="${headerText}">Здесь будет текст</h1>
                <input id="username" name="username" type="text" placeholder="Логин" autofocus required th:field="*{username}">
                <input id="password" name="password" type="password" placeholder="Пароль" required th:field="*{password}">
                <input id="matching" name="matchingPassword" type="password" placeholder="Подтверждение пароля"
                       th:if="${isRegistration}" th:field="*{matchingPassword}" required>
                <button id="submit" class="gradient" type="submit">Войти</button>
            </div>
        </form>
    </div>
</body>
</html>