<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Academic Writing Analysis Application</title>
    <!--link href="https://fonts.googleapis.com/css2?family=Belleza&display=swap" rel="stylesheet"-->
    <!--link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet"-->
    <link href="../static/css/index.css" th:href="@{css/index.css}" rel="stylesheet">
    <link href="../static/css/annotations.css" th:href="@{css/annotations.css}" rel="stylesheet">
    <script src="../static/scripts/main.js" th:src="@{scripts/main.js}"></script>
    <script src="../static/scripts/index.js" th:src="@{scripts/index.js}"></script>
</head>
<body>
    <div id='content'>
        <div class="center">
            <h2>Linguistic Research System</h2>
        </div>
        <p th:text="'The information is loaded from ' + ${name} + ''"/>
        <div class="container">
            <!-- Corpora column -->
            <div class="column dotted-border">
                <div class="center">
                    <h3>Corpora</h3>
                </div>
                <table class="streched">
                    <tr><td><a>Corpus 1</a></td></tr>
                    <tr>
                        <td>
                            <div id="new-corpus" class="center dotted-border pointer">
                                <a>New corpus</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            
            <!-- Documents in the corpus column -->
            <div class="column dotted-border">
                <div class="center">
                    <h3>Documents</h3>
                </div>
                <table class="streched">
                    <tr><td>Document 1</td></tr>
                    <tr><td>Document 2</td></tr>
                    <tr>
                        <td>
                            <div id="new-document" class="center dotted-border pointer">
                                <a>New document</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Colorized text column -->
            <div class="column dotted-border">
                <div class="center">
                    <h3>Colorized text</h3>
                </div>
                [(${colorizedHtml})]
            </div>

            <!-- Annotation checkboxes' column -->
            <div class="column dotted-border">
                <div class="center">
                    <h3>Annotations</h3>
                </div>
                <div th:each="annotation, status: ${annotations}" th:class="${annotation.type}" >
                    <input class="controller" type="checkbox" th:text="${annotation.name}" th:onclick="'controllerClicked(this, ' + ${status.index} + ')'" checked>
                </div>
                <div class="center dotted-border pointer">
                    <a onclick="disableAll()">Disable all</a>
                </div>
            </div>
        </div>
    </div>

    <!-- New Corpus modal window -->
    <div id="corpus-modal" class="modal">
        <div class="modal-content">
            <span class="close" id="corpus-modal-close">&times;</span>
            <h2>Corpus:</h2>
            <p>Name: <input id='corpus-name'></p>
            <p><div class='dotted-border pointer autosized' onclick="createCorpus()">Save changes</div></p>
        </div>
    </div>

    <!-- New Document modal window -->
    <div id="document-modal" class="modal">
        <div class="modal-content">
            <span class="close" id="document-modal-close">&times;</span>
            <h2>Document:</h2>
            <p>Name: <input id='document-name'></p>
            <div id="document-drop-zone" class="dotted-border autosized">Drop your file here</div>
            <p><div class="dotted-border pointer autosized" onclick="createDocument()">Save changes</div></p>
        </div>
    </div>

    <script>
        function enableAnnotations(index) {
            const className = 'color-' + (index + 1);
            const disabledClassName = className + '-disabled';

            const elements = [].slice.call(document.getElementsByClassName(disabledClassName));
            
            elements.forEach(function(item, i, arr) {
                item.classList.add(className);
                item.classList.remove(disabledClassName);
            });
        }

        function disableAnnotations(index) {
            const className = 'color-' + (index + 1);
            const disabledClassName = className + '-disabled';

            const elements = [].slice.call(document.getElementsByClassName(className));
            
            elements.forEach(function(item, i, arr) {
                item.classList.add(disabledClassName);
                item.classList.remove(className);
            });
        }

        function controllerClicked(controller, index) {
            if (controller.checked) {
                enableAnnotations(index);
            } else {
                disableAnnotations(index);
            }
        }

        function disableAll() {
            const controllers = document.getElementsByClassName('controller');

            for (let i = 0; i < controllers.length; ++i) {
                controllers[i].checked = false;
                disableAnnotations(i);
            }
        }

        function createCorpus() {
            postRequest(
                'api/create_corpus', 
                { name: document.getElementById('corpus-name').value }, 
                () => {}, 
                () => { alert('Unable to create a corpus'); }
            );
        }

        registerModal('content', 'corpus-modal', 'new-corpus');
        registerModal('content', 'document-modal', 'new-document');

        let uploadedFile = null;

        function handleFileSelect(evt) {
            evt.stopPropagation();
            evt.preventDefault();

            var files = evt.dataTransfer.files; // FileList object.
            uploadedFile = files[0];
        }

        function handleDragOver(evt) {
            evt.stopPropagation();
            evt.preventDefault();
            evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
        }

        function createDocument() {
            if (uploadedFile !== null) {
                const reader = new FileReader();

                reader.onload = (e) => {
                    const documentInfo = { 
                        name: document.getElementById('document-name').value,
                        content: e.target.result
                    };

                    postRequest(
                        'api/create_document',
                        documentInfo,
                        () => {},
                        () => { alert('Unable to create a document'); }
                    )
                };

                reader.readAsText(uploadedFile);
            }
        }

        var dropZone = document.getElementById('document-drop-zone');
        dropZone.addEventListener('dragover', handleDragOver, false);
        dropZone.addEventListener('drop', handleFileSelect, false);
    </script>
</body>
</html>