<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Academic Writing Analysis Application</title>
    <link href="../static/css/index.css" th:href="@{css/index.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/scripts/main.js" th:src="@{scripts/main.js}"></script>
    <script src="../static/scripts/index.js" th:src="@{scripts/index.js}"></script>
</head>
<body>
    <div class="padded">
        <h1>Index page</h1>
        <p><a>Register</a></p>
        <p><a>Login</a></p>
        <p><a href="corpora">Common corpora</a></p>
    </div>
    <script>
    </script>
</body>
</html>