<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Academic Writing Analysis Application</title>
    <link href="../static/css/design.css" th:href="@{css/design.css}" rel="stylesheet">
    <link href="../static/css/authorization.css" th:href="@{css/authorization.css}" rel="stylesheet">
    <script src="../static/scripts/main.js" th:src="@{scripts/main.js}"></script>
    <script src="../static/scripts/authentication.js" th:src="@{scripts/authentication.js}"></script>
</head>
<body>
    <div class="article-container">
        <header th:replace="header :: header">Навигационная панель</header>
        <article th:insert="header :: auth-box('registration-box', true, '/register', 'Регистрация')">
        </article>
    </div>
    <script>
        const view = new AuthenticationView();
    </script>
</body>
</html>